<app-modal-factura [factura]="facturaModal"></app-modal-factura>
<div class="text-center">
  <h4>Venta de Productos</h4>
  <hr class="separador-pri w-100" />
</div>
<div
  class="text-center alert alert-warning alert-dismissible small fade show"
  role="alert"
  *ngIf="proBajos"
>
  <button
    type="button"
    class="close btn-sm"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  ! Existen productos <strong>bajos en inventario </strong>(Ir a
  <a style="cursor: pointer" routerLink="/inventario/productos/bajos"
    >inventario)</a
  >
  !
</div>
<form #form="ngForm">
  <div class="form-row justify-content-center">
    <div class="col-7 my-1">
      <input
        type="text"
        placeholder="Escanea el código de barras o escríbelo y presiona enter "
        class="form-control mayusculas form-control-sm"
        #termino
        (keydown)="productoEscaneadoDigitado(termino.value, $event)"
      />
      {{ termino.focus() }}
    </div>
  </div>

  <div
    class="text-center alert alert-info small p-1 my-1"
    *ngIf="factura.detalles_facturas.length == 0"
  >
    AGREGUE PRODUCTOS A SU FACTURA, AL MENOS UNA !
  </div>
  <div class="table-scroll">
    <table
      class="table table-bordered table-responsive-sm table-sm text-center"
      *ngIf="factura.detalles_facturas.length > 0"
    >
      <thead class="bg-pri white">
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Subtotal</th>
          <th>Existencia</th>
          <th>Eliminar Item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of factura.detalles_facturas">
          <td>{{ item.producto.codigo_barras }}</td>
          <td>{{ item.producto.nombre }}</td>

          <td>
            <div class="row justify-content-center">
              <input
                type="number"
                value="{{ item.cantidad }}"
                class="form-control col-sm-4"
                (change)="actualizarCantidad(item.producto.id, $event)"
              />
            </div>
          </td>

          <td>{{ item.producto.precio | currency }}</td>
          <td>{{ item.calcularImporte() | currency }}</td>
          <td>{{ item.calcularExistencia() }}</td>
          <td>
            <button
              class="btn bg-pri white btn-sm"
              type="button"
              (click)="eliminarItemFactura(item.producto.id)"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-end">
    <div class="col-3 text-center">
      <h1 style="color: blue">{{ factura.calcularGranTotal() | currency }}</h1>
      <button
        class="btn bg-pri btn-block text-white float-right"
        type="button"
        (click)="abrirModal(this.factura, form)"
      >
        <i class="fas fa-cart-arrow-down mr-2"></i>Vender
      </button>
    </div>
  </div>
</form>
