::ng-deep .mat-input {
  width: 400px !important;
}
.table-scroll {
  height: 350px;
  overflow-y: auto;
}

thead tr:nth-child(1) th {
  background: #042331;
  position: sticky;
  top: 0;
  z-index: 10;
}
.table td {
  vertical-align: middle;
}
