<!-- Footer -->
<footer class="page-footer bg-tomate font-small">
  <div class="bg-pri">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-3 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 text-white">Síguenos en nuestras redes sociales!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4" style="color: white">
            </i>
          </a>

          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text" style="color: white"> </i>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-4">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">IPCA</h6>
        <hr class="mt-0 d-inline-block mx-auto" />
        <p>
          El IPCA ofrece atención diurna en rehabilitación medico terapéutica y
          educación especial para niños y jóvenes con Parálisis Cerebral y
          Pluridiscapacidad
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Especialidades</h6>
        <hr class="mt-0 d-inline-block mx-auto" />
        <p>Medicina</p>
        <p>Psicologia</p>
        <p>Odontología</p>
        <p>Terapia Física</p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Menú</h6>
        <hr class="mt-0 d-inline-block mx-auto" style="width: 60px" />
        <p>
          <a routerLink="/home">Ventas</a>
        </p>
        <p>
          <a routerLink="/dashprod">Productos</a>
        </p>
        <p>
          <a routerLink="/inventario">Inventario</a>
        </p>
        <p>
          <a routerLink="/dashper">Roles</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contáctanos</h6>
        <hr class="mt-0 d-inline-block mx-auto" style="width: 60px" />
        <p>
          <i class="fas fa-home mr-3"></i>Fray Gaspar de Villarroel entre Av.
          Isabel La Católica y Av. 1ro de Mayo
        </p>
        <p><i class="fas fa-envelope mr-3"></i> ipca_cuenca@hotmail.es</p>
        <p><i class="fas fa-phone mr-3"></i>4106861</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright bg-pri text-white text-center py-3">
    © Desarrollado por el Instituto Superior Tecnológico del Azuay
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
