<hr class="separador-pri w-100" />
<div class="container my-3">
  <div class="row justify-content-center">
    <h2>{{ titulo }}</h2>
    <button class="btn btn-danger mb-2 mx-3" (click)="irPersonas()">
      <i class="fas fa-times"></i>
    </button>
  </div>

  <form
    class="border shadow rounded mx-5 animated fadeIn fast"
    #MyForm="ngForm"
  >
    <div class="form-row mt-3">
      <div class="col-md-5 mb-3 mx-auto">
        <label for="cedula">Cedula:</label>
        <input
          required
          class="form-control"
          type="text"
          name="cedula"
          #cedula="ngModel"
          #termino
          [(ngModel)]="persona.cedula"
          (keyup)="existeCedulaPersona(termino.value)"
          minlength="10"
          (change)="validadorDeCedula(termino.value)"
        />
        <div
          class="text-center field-error"
          *ngIf="cedula.hasError('required') && cedula.touched"
        >
          !Cédula es requerido¡
        </div>
        <div class="text-center field-error" *ngIf="!validador">
          !Cédula es incorrecta!
        </div>
        <div class="text-center field-error" *ngIf="existeCedula">
          {{ mensaje }}
        </div>
        <div class="text-center field-error" *ngIf="cedula.errors?.minlength">
          !Por lo menos {{ cedula.errors.minlength.requiredLength }} caracteres¡
        </div>
      </div>
      <div class="col-md-5 mx-auto">
        <label for="nombre">Nombre:</label>
        <input
          required
          class="form-control mayusculas"
          type="text"
          name="nombre"
          #nombre="ngModel"
          [(ngModel)]="persona.nombre"
          minlength="3"
        />
        <div
          class="text-center field-error"
          *ngIf="nombre.hasError('required') && nombre.touched"
        >
          !Nombre es requerido¡
        </div>
        <div class="text-center field-error" *ngIf="nombre.errors?.minlength">
          !Por lo menos {{ nombre.errors.minlength.requiredLength }} caracteres¡
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-5 mb-3 mx-auto">
        <label for="apellido">Apellido:</label>
        <input
          required
          class="form-control mayusculas"
          type="text"
          name="apellido"
          #apellido="ngModel"
          [(ngModel)]="persona.apellido"
          minlength="4"
        />
        <div
          class="text-center field-error"
          *ngIf="apellido.hasError('required') && apellido.touched"
        >
          !Apellido es requerido¡
        </div>
        <div class="text-center field-error" *ngIf="apellido.errors?.minlength">
          !Por lo menos {{ apellido.errors.minlength.requiredLength }}
          caracteres¡
        </div>
      </div>
      <div class="col-md-5 mb-3 mx-auto">
        <label for="email">Email:</label>
        <input
          required
          class="form-control"
          type="email"
          name="email"
          #email="ngModel"
          [(ngModel)]="persona.email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        />
        <div
          class="text-center field-error"
          *ngIf="email.hasError('required') && email.touched"
        >
          !Email es requerido¡
        </div>
        <div class="text-center field-error" *ngIf="email.errors?.pattern">
          !Email inválido¡
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-5 mb-3 mx-auto">
        <label for="telefono">Telefono:</label>
        <input
          class="form-control"
          type="text"
          name="telefono"
          #telefono="ngModel"
          [(ngModel)]="persona.telefono"
        />
      </div>
      <div class="col-md-5 mb-3 mx-auto">
        <label for="">Direccion:</label>
        <input
          class="form-control capitalize"
          type="text"
          name="direccion"
          #direccion="ngModel"
          [(ngModel)]="persona.direccion"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-5 mb-3 mx-auto">
        <label for="fecha">Fecha Nacimiento:</label>
        <input
          [matDatepicker]="myDatepicker"
          class="form-control"
          style="display: inline"
          name="fecha"
          #fecha="ngModel"
          required
          [(ngModel)]="persona.fecha"
        />
        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker color="dark" #myDatepicker></mat-datepicker>
        <div class="text-center field-error">
          <p
            class="field-error"
            *ngIf="fecha.hasError('required') && fecha.touched"
          >
            !Fecha es requerido¡
          </p>
        </div>
      </div>

      <div class="col-md-5 mb-3 mx-auto">
        <label class="mt-3" for="foto">Foto:</label>
        <div class="custom-file">
          <input type="file" (change)="seleccionarFoto($event)" />
        </div>

        <img
          [src]="imageSrc"
          *ngIf="imageSrc; else elseblockImg"
          class="img-fluid mt-2 text-center"
          style="width: auto"
        />
        <ng-template #elseblockImg>
          <img
            class="img-fluid"
            *ngIf="persona.fotoHashCode"
            [src]="
              baseEndpoint +
              '/img/' +
              persona.id +
              '?fotoHashCode=' +
              persona.fotoHashCode
            "
            style="width: auto"
          />
        </ng-template>
      </div>
    </div>
    <div class="form-row mb-3">
      <div class="col-md-5 mx-auto">
        <button
          class="btn bg-pri btn-block text-white"
          [disabled]="!MyForm.form.valid"
          (click)="crear(MyForm)"
          *ngIf="!persona.id; else elseBlock"
        >
          Guardar
        </button>
        <ng-template #elseBlock>
          <button
            type="button"
            class="btn bg-pri btn-block text-white"
            (click)="editar()"
            [disabled]="!MyForm.form.valid"
          >
            Actualizar
          </button>
        </ng-template>
      </div>
    </div>
  </form>
</div>
<hr class="separador-pri w-100" />
