<hr />
<div class="text-center">
  <h6>Listado de Personas</h6>
</div>
<div class="row">
  <div class="col-sm-8 mb-1">
    <button
      class="btn bg-pri btn-sm white"
      routerLink="/dashper/personas/form"
      *ngIf="authService.hasAnyRoles(this.authService.rolesAll)"
    >
      <i class="fa fa-user-plus mr-1"></i>Nueva Persona
    </button>
  </div>

  <div class="col-sm-4 text-right">
    <div class="input-group">
      <input
        type="text"
        class="form-control mayusculas form-control-sm"
        #termino
        placeholder="Buscar"
        (keyup)="cargarPersonasDefault($event)"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
      />
      <div class="input-group-append">
        <button
          class="btn bg-pri btn-sm text-white"
          type="button"
          id="button-addon2"
          (click)="buscarPersona(termino.value)"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="alert alert-info text-center" *ngIf="personas?.length == 0">
    No hay Registros
  </div>
  <div class="table-scroll">
    <table
      class="table table-bordered table-striped table-responsive-sm table-sm text-center animated fadeIn fast"
      *ngIf="personas?.length > 0"
    >
      <thead class="bg-pri white">
        <tr>
          <th>Foto</th>
          <th># Cedula</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Telefono</th>
          <th *ngIf="authService.hasAnyRoles(this.authService.rolesAll)">
            Editar-Eliminar
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of personas">
          <td>
            <img
              class="rounded-circle img-fluid"
              *ngIf="persona.fotoHashCode"
              alt="Imagen Persona"
              [src]="
                baseEndpoint +
                '/img/' +
                persona.id +
                '?fotoHashCode=' +
                persona.fotoHashCode
              "
              style="width: 30px; height: 30px"
            />
            <img
              class="irounded-circle img-fluid"
              *ngIf="!persona.fotoHashCode"
              src="../../../../../assets/img/notproducto.png"
              style="width: 30px"
            />
          </td>
          <td>
            {{ persona.cedula }}
          </td>
          <td>
            {{ persona.nombre }}
          </td>
          <td>
            {{ persona.apellido }}
          </td>
          <td>
            {{ persona.telefono }}
          </td>
          <td *ngIf="authService.hasAnyRoles(this.authService.rolesAll)">
            <button
              class="btn btn-warning btn-sm mr-2 mb-1"
              [routerLink]="['/dashper/personas/form/', persona.id]"
            >
              <i class="fa fa-edit"></i>
            </button>

            <button
              *ngIf="authService.hasAnyRoles(this.authService.rolesNotAll)"
              class="btn btn-danger btn-sm mr-2 mb-1"
              (click)="delete(persona)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <mat-paginator
    *ngIf="busqueda"
    [length]="totalRegistros"
    [pageSize]="totalPorPagina"
    [pageIndex]="paginaActual"
    (page)="paginar($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
