<div class="container my-3">
    <div class="row justify-content-center">
        <h1>{{ titulo }}</h1>
        <button class="btn btn-danger mb-2 mx-3" (click)="irPersonas()">
          <i class="fas fa-times"></i>
        </button>
    </div>
    <hr class="separador-pri w-100">

    <form class="border shadow rounded mx-5 " #MyForm="ngForm">

        <div class="form-row mt-3">
            <!--<div class="col-md-5 mb-3 mx-auto">
                <label for="cedula">Cedula:</label>
                <input required class="form-control" type="text" name="cedula" #cedula="ngModel" [(ngModel)]="persona.cedula" />
                <div class="text-center">
                    <p class="field-error" *ngIf="cedula.hasError('required') && cedula.touched">
                        Cedula es requerido!
                    </p>
                </div>
            </div>-->
            <div class="col-md-5 mx-auto">
                <label for="nombre">Nombre:</label>
                <input required class="form-control  mayusculas"
                  type="text" name="nombre" [(ngModel)]="producto.nombre" />
                <!--<div class="text-center">
                    <p class="field-error" *ngIf="nombre.hasError('required') && nombre.touched">
                        Nombre es requerido!
                    </p>
                </div>-->
            </div>
        </div>

        <div class="form-row">

            <div class="col-md-5 mb-3 mx-auto">
                <label for="apellido">Precio:</label>
                <input required class="form-control mayusculas"
                  type="number" name="precio" [(ngModel)]="producto.precio"/>
                <!--<div class="text-center">
                    <p class="field-error" *ngIf="apellido.hasError('required') && apellido.touched">
                        Precio requerido!
                    </p>
                </div>-->
            </div>
            <div class="col-md-5 mb-3 mx-auto">
                <label for="email">Cantidad Minima:</label>
                <input required class="form-control" type="number"
                name="cantidad_minima" [(ngModel)]="producto.cantidad_minima"/>
                <!--<div class="text-center">
                    <p class="field-error" *ngIf="email.hasError('required') && email.touched">
                        Cantidad Minima requerido!
                    </p>
                </div>-->
            </div>

        </div>

        <div class="form-row">

            <div class="col-md-5 mb-3 mx-auto">
                <label for="telefono">Cantidad Máxima:</label>
                <input class="form-control" type="number"
                name="cantidad_maxima" [(ngModel)]="producto.cantidad_maxima"/>
            </div>
            <div class="col-md-5 mb-3 mx-auto">
                <label for="">Descripcion:</label>
                <input class="form-control capitalize"
                  type="text" name="descripcion" [(ngModel)]="producto.descripcion"/>
            </div>


        </div>
        <div class="form-row">
            <div class="col-md-5 mb-3 mx-auto" >
                <label for="categoria">Categoría:</label>
                <select class="form-control"  name="categoria" [(ngModel)]="producto.categoria">
                  <option value="null" >--Seleccionar categoria--</option>
                  <option *ngFor="let categoria of lista" [ngValue]="categoria" >{{categoria.nombre}}</option>
                </select>
            </div>

            <div class="col-md-5 mb-3 mx-auto">
                <label class="mt-3" for="foto">Foto:</label>
                <div class="custom-file">
                    <input type="file" (change)="seleccionarFoto($event)" name="fotoHashCode">
                </div>

                <!--<img [src]="imageSrc" *ngIf="imageSrc else elseblockImg" class="img-fluid mt-2 text-center" style=" width:auto; " />
                <ng-template #elseblockImg>
                    <img class="img-fluid " *ngIf="persona.fotoHashCode" [src]="baseEndpoint + '/img/' + persona.id + '?fotoHashCode=' +persona.fotoHashCode " style=" width:auto;">
                </ng-template>-->
            </div>


        </div>
        <div class="form-row mb-3 ">
<!-- *ngIf="!persona.id else elseBlock" [disabled]="!MyForm.form.valid "-->
            <div class="col-md-5 mx-auto ">
                <button class="btn bg-pri btn-block text-white "  (click)="crear()" >Guardar
            </button>
                <ng-template #elseBlock>
                    <button type="button" class="btn bg-pri btn-block text-white" (click)="editar()" [disabled]="!MyForm.form.valid">Actualizar</button>
                </ng-template>

            </div>

        </div>
    </form>
    <hr class="separador-pri w-100 ">
</div>
