<h1>Lista de Usuarios</h1>
<hr>
<div>
    <button class="btn btn-primary" routerLink="/persona-add"><i class="fa fa-user-plus"></i></button>
</div>
<br>
<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Usuario</th>
                <th>Nombre ROL</th>
                <th>Descripción ROL</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button class="btn btn-warning"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-danger ml-2"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>