<hr class="separador-pri w-100" />
<div class="text-center">
  <h2>Usuarios</h2>
</div>
<div class="row">
  <div class="col-sm-3">
    <button class="btn bg-pri white" routerLink="/dashper/usuarios/form">
      <i class="fa fa-user-plus mr-1"></i>Nuevo Usuario
    </button>
  </div>
  <div class="col-sm-9 text-right">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        #termino
        placeholder="Buscar"
        (keyup)="buscarUsuario(termino.value)"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
      />
      <div class="input-group-append">
        <button class="btn bg-pri text-white" type="button" id="button-addon2">
          Buscar
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<div>
  <div class="alert alert-info text-center" *ngIf="usuarios?.length == 0">
    No hay Registros
  </div>
  <table
    class="table table-bordered table-striped table-responsive-sm table-sm text-center"
    *ngIf="usuarios?.length > 0"
  >
    <thead class="bg-pri white">
      <tr>
        <th>Username</th>
        <th>Persona</th>
        <th>Roles</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>
          <div class="row justify-content-center">
            <div class="col-sm-6 mt-2">
              {{ usuario.username }}
            </div>
          </div>
        </td>
        <td>
          <div class="row justify-content-center">
            <div class="col-sm-12 mt-2">
              {{ usuario.persona.nombre }}
              {{ usuario.persona.apellido }}
            </div>
          </div>
        </td>
        <td>
          <div class="row justify-content-center">
            <div class="col-sm-12 mt-2">
              {{ usuario.roles | arraypipe: "nombre" }}
            </div>
          </div>
        </td>
        <td>
          <div class="row justify-content-center">
            <div class="col-sm-3 mt-2 mb-1">
              <button
                class="btn btn-warning btn-sm"
                [routerLink]="['/dashper/usuarios/form/', usuario.id]"
              >
                <i class="fa fa-edit"></i>
              </button>
            </div>
            <div class="col-sm-3 mt-2">
              <button class="btn btn-danger btn-sm" (click)="delete(usuario)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
