<div class="btn-group-justified" id="but">
  <button
    type="button"
    class="btn bg-pri btn-sm text-white mr-3"
    routerLink="/dashprod/producto"
    routerLinkActive="active"
  >
    <i class="fas fa-pizza-slice mr-1"></i>Productos
  </button>
  <button
    type="button"
    class="btn bg-pri btn-sm text-white mr-3"
    routerLink="/dashprod/categoria"
    routerLinkActive="active"
  >
    <i class="fas fa-grip-horizontal mr-1"></i> Categorias
  </button>
</div>
<router-outlet></router-outlet>
