@media screen and (max-width: 320px) {
  table {
    display: block;
    overflow-x: auto;
  }
}

.fa:hover {
  color: #042331 !important;
}
.mat-paginator {
  color: #042331;
  display: flex;
  justify-content: center;
}

.table td {
  vertical-align: middle;
}
