<hr class="separador-pri w-100" />
<div class="text-center">
  <h2 class="display-4">Productos</h2>
</div>
<div class="row">
  <div class="col-sm-3">
    <button class="btn bg-pri white" routerLink="/dashprod/producto/form">
      <i class="fas fa-pizza-slice"></i> Nuevo Producto
    </button>
  </div>

  <div class="col-sm-6 text-right">
    <div class="input-group">
      <input
        type="text"
        class="form-control mayusculas"
        #termino
        placeholder="Buscar"
        (keyup)="buscarProducto(termino.value)"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
      />
      <div class="input-group-append">
        <button class="btn bg-pri text-white" type="button" id="button-addon2">
          Buscar
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-3 text-right">
    <button
      type="button"
      class="btn btn-primary btn-sm mr-3 mb-1" 
      (click)="reportePDF()"
    >
    <i class="fas fa-print mr-1"></i>Imprimir
    </button>
  </div>
</div>
<br />
<div id="productos">
  <div class="alert alert-info text-center" *ngIf="prodLista?.length == 0">
    No hay Registros
  </div>
  <div class="table-scroll">
    <table
      class="table table-bordered table-striped table-responsive-sm table-sm text-center"
      *ngIf="prodLista?.length > 0"
    >
      <thead class="bg-pri white">
        <tr>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Categoría</th>
          <th>Editar-Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of prodLista">
          <td>
            <div class="row justify-content-center">
              <div class="col-sm-12 col-md-12 mt-3">
                <img
                  class="img-fluid rounded"
                  *ngIf="producto.fotoHashCode"
                  alt="Imagen Producto"
                  [src]="
                    baseEndpoint +
                    '/img/' +
                    producto.id +
                    '?fotoHashCode=' +
                    producto.fotoHashCode
                  "
                  style="width: 125px; height: 100px"
                />
                <img
                  class="img-fluid rounded"
                  *ngIf="!producto.fotoHashCode"
                  src="../../../../../assets/img/notproducto.jpg"
                  style="width: 70px"
                />
              </div>
            </div>
          </td>
          <td>
            <div class="row justify-content-center">
              <div class="col-sm-6 mt-4">
                {{ producto.nombre | uppercase }}
              </div>
            </div>
          </td>
          <td>
            <div class="row justify-content-center">
              <div class="col-sm-6 mt-4">
                {{ producto.precio | currency}}
              </div>
            </div>
          </td>
          <td>
            <div class="row justify-content-center">
              <div class="col-sm-6 mt-4">
                {{ producto.categoria.nombre }}
              </div>
            </div>
          </td>
          <td>
            <div class="row justify-content-center">
              <div class="col-sm-3 mt-3 mb-1">
                <button
                  class="btn btn-warning btn-sm"
                  [routerLink]="['/dashprod/producto/form/', producto.id]"
                >
                  <i class="fa fa-edit"></i>
                </button>
              </div>
              <div class="col-sm-3 mt-3">
                <button class="btn btn-danger btn-sm" (click)="delete(producto)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <mat-paginator
    *ngIf="busqueda"
    [length]="totalRegistros"
    [pageSize]="totalPorPagina"
    [pageIndex]="paginaActual"
    (page)="paginar($event)"
    showFirstLastButtons
  >
  </mat-paginator>
  <!-- <app-paginador *ngIf="paginator" [paginator]="paginator"></app-paginador> -->
</div>
