<div class="contenido">
  <hr />
  <div class="d-flex justify-content-between mb-0">
    <div class="p-1"></div>
    <div class="p-1">
      <h5>{{ titulo }}</h5>
    </div>
    <div class="p-1">
      <button class="btn btn-danger btn-sm mb-1 mx-3" (click)="irCategorias()">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <form #MyForm="ngForm">
    <div class="form-row">
      <div class="col-md-5 mb-3">
        <label for="nombre">Nombre:</label>
        <input
          required
          class="form-control mayusculas"
          type="text"
          name="nombre"
          [(ngModel)]="categoria.nombre"
          required
          #nombre="ngModel"
        />
        <div class="text-center">
          <p
            class="field-error"
            *ngIf="nombre.hasError('required') && nombre.touched"
          >
            Nombre es requerido!
          </p>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-5 mb-3">
        <label class="mt-3" for="foto">Foto:</label>
        <div class="custom-file">
          <input type="file" (change)="seleccionarFoto($event)" />
        </div>
      </div>
      <div
        class="col-md-3 text-center mb-3 border"
        style="width: 200px; height: 200px"
      >
        <img
          [src]="imageSrc"
          *ngIf="imageSrc; else elseblockImg"
          class="img-fluid mt-2 text-center"
          style="width: 160px; height: 160px"
        />
        <ng-template #elseblockImg>
          <img
            class="img-fluid"
            *ngIf="categoria.fotoHashCode"
            [src]="
              baseEndpoint +
              '/img/' +
              categoria.id +
              '?fotoHashCode=' +
              categoria.fotoHashCode
            "
            style="width: 160px"
          />
        </ng-template>
      </div>
    </div>

    <div class="form-row justify-content-end">
      <button
        class="btn bg-pri text-white"
        *ngIf="!categoria.id; else elseBlock"
        [disabled]="!MyForm.form.valid"
        (click)="crear()"
      >
        Guardar
      </button>
      <ng-template #elseBlock>
        <button
          type="button"
          class="btn bg-pri text-white"
          (click)="editar()"
          [disabled]="!MyForm.form.valid"
        >
          Actualizar
        </button>
      </ng-template>
    </div>
  </form>
  <hr />
</div>
