<div class="container my-3">
  <div class="row justify-content-center">
      <h1>{{ titulo }}</h1>
      <button class="btn btn-danger mb-2 mx-3" (click)="irCategorias()">
        <i class="fas fa-times"></i>
      </button>
  </div>
  <hr class="separador-pri w-100">
  <form class="border shadow rounded mx-5 " #MyForm="ngForm">
    <div class="col-md-5 mx-auto">
        <label for="nombre">Nombre:</label>
        <input required class="form-control  mayusculas"
          type="text" name="nombre"  [(ngModel)]="categoria.nombre" required #nombre="ngModel"/>
        <div class="text-center">
            <p class="field-error" *ngIf="nombre.hasError('required') && nombre.touched">
                Nombre es requerido!
            </p>
        </div>
    </div>

    <div class="col-md-5 mb-3 mx-auto">
      <label class="mt-3" for="foto">Foto:</label>
      <div class="custom-file">
          <input type="file" (change)="seleccionarFoto($event)">
      </div>

      <img [src]="imageSrc" *ngIf="imageSrc else elseblockImg" class="img-fluid mt-2 text-center" style=" width:auto; " />
      <ng-template #elseblockImg>
          <img class="img-fluid " *ngIf="categoria.fotoHashCode" [src]="baseEndpoint + '/img/' + categoria.id + '?fotoHashCode=' +categoria.fotoHashCode " style=" width:auto;">
      </ng-template>
    </div>


    <div class="form-row mt-3 ">
        <div class="col-md-5 mx-auto " *ngIf="MyForm.form.valid">
            <button class="btn bg-pri btn-block text-white " *ngIf="!categoria.id else elseBlock" (click)="crear()" >
              Guardar
            </button>
            <ng-template #elseBlock>
                <button type="button" class="btn bg-pri btn-block text-white" (click)="editar()" [disabled]="!MyForm.form.valid">Actualizar</button>
            </ng-template>

        </div>

    </div>
  </form>
</div>
