/* tbody {
    display: block;
    overflow: auto;
    height: 300px;
    width: 100%;
}
  
thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
  
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
  
thead {
    width: calc( 100% - 1em )
} */

.fa:hover {
    color: #042331 !important;
}
.table-scroll {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

thead tr:nth-child(1) th {
    background: #042331;
    position: sticky;
    top: 0;
    z-index: 10;
}