<div class="btn-group-justified">
  <button
    type="button"
    class="btn bg-pri text-white mr-3 mb-1"
    routerLink="/inventario/producto"
    routerLinkActive="active"
  >
    <i class="fas fa-boxes mr-2"></i>Agregar Inventario
  </button>
  <button
    type="button"
    class="btn bg-pri text-white mr-3 mb-1"
    routerLink="/inventario/reporte"
    routerLinkActive="active"
  >
    <i class="fas fa-boxes mr-2"></i>Reportes de Ventas
  </button>
  <button
    type="button"
    class="btn bg-pri text-white mr-3 mb-1"
    routerLinkActive="active"
    routerLink="/inventario/reporte_inventario"
  >
    <i class="fas fa-boxes mr-2"></i>Reporte de Inventario
  </button>
  <button
    type="button"
    class="btn bg-pri text-white mr-3 mb-1"
    routerLink="/inventario/productos/bajos"
    routerLinkActive="active"
  >
    <i class="fas fa-file-download mr-2"></i>Productos bajos en Inventario
  </button>
</div>
<router-outlet> </router-outlet>
